$spacing: (
  none: 0,
  xs: 8px,
  sm: 16px,
  md: 24px,
  lg: 32px,
  xl: 40px
);

@each $space, $value in $spacing {
  .margin-#{$space} {
    margin: $value;
  }

  .margin-x-#{$space} {
    margin-left: $value;
    margin-right: $value;
  }

  .margin-y-#{$space} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .margin-top-#{$space} {
    margin-top: $value;
  }

  .margin-bottom-#{$space} {
    margin-bottom: $value;
  }

  .margin-left-#{$space} {
    margin-left: $value;
  }

  .margin-right-#{$space} {
    margin-right: $value;
  }
}

@each $space, $value in $spacing {
  .padding-#{$space} {
    padding: $value;
  }

  .padding-x-#{$space} {
    padding-left: $value;
    padding-right: $value;
  }

  .padding-y-#{$space} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .padding-top-#{$space} {
    padding-top: $value;
  }

  .padding-bottom-#{$space} {
    padding-bottom: $value;
  }

  .padding-left-#{$space} {
    padding-left: $value;
  }

  .padding-right-#{$space} {
    padding-right: $value;
  }
}
