.View,
.ViewStack {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.View > *,
.ViewStack > * {
  flex: 0 0 auto;
}

.View {
  align-items: flex-start;
}

.View.stretched > * {
  flex-grow: 1;
}

.View.scrollable {
  overflow-x: auto;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.ViewStack {
  flex-direction: column;
  align-items: flex-start;
}

.ViewStack.scrollable {
  overflow-y: auto;
}

.ViewStack.stretched {
  align-items: stretch;
}