.View,
.ViewStack {
  display: flex;
  overflow: hidden;
}

.View > *,
.ViewStack > * {
  flex: 0 0 auto;
}

.View.justify-left {
  justify-content: flex-start;
}

.ViewStack.justify-left {
  align-items: flex-start;
}

.View.justify-center {
  justify-content: center;
}

.ViewStack.justify-center {
  align-items: center;
}

.View.justify-right {
  justify-content: flex-end;
}

.ViewStack.justify-right {
  align-items: flex-end;
}

.View.align-top {
  align-items: flex-start;
}

.ViewStack.align-top {
  justify-content: flex-start;
}

.View.align-middle {
  align-items: center;
}

.ViewStack.align-middle {
  justify-content: center;
}

.View.align-bottom {
  align-items: flex-end;
}

.ViewStack.align-bottom {
  justify-content: flex-end;
}

.View.space-around {
  justify-content: space-around;
}

.ViewStack.space-around {
  justify-content: space-around;
}

.View.space-between {
  justify-content: space-between;
}

.ViewStack.space-between {
  justify-content: space-between;
}

.View.space-evenly {
  justify-content: space-evenly;
}

.ViewStack.space-evenly {
  justify-content: space-evenly;
}

.View.stretch > * {
  flex-grow: 1;
}

.View.scrollable {
  overflow-x: auto;
}

.View.reverse {
  flex-direction: row-reverse;
}

.View.wrap {
  flex-wrap: wrap;
}

.View.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.View.tall {
  align-items: stretch;
}

.View.reverse.justify-left {
  justify-content: flex-end;
}

.View.reverse.justify-right {
  justify-content: flex-start;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.ViewStack {
  flex-direction: column;
  align-items: flex-start;
}

.ViewStack.scrollable {
  overflow-y: auto;
}

.ViewStack.stretch {
  align-items: stretch;
}

.ViewStack.tall > * {
  flex-grow: 1;
}

.ViewStack.reverse {
  flex-direction: column-reverse;
}

.ViewStack.reverse.align-top {
  justify-content: flex-end;
}

.ViewStack.reverse.align-bottom {
  justify-content: flex-start;
}
